@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Red+Hat+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: #EDD4B2;
}

/* Header CSS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-bottom:#AA767C 3px solid;
    padding: 5px;
    width: 100vw;
    flex-wrap: wrap;
    place-content: center;
}

.left-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-width: 10em;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 10em;
}

.logo {
    display: flex;
    margin-inline: 10%;
    gap: 5px;
    place-items: center;
}

.logo h1 {
    font-family: 'Abril Fatface', serif;
    transform: translateY(-2px);
}

.car-icon img{
    max-width: 5em;
    max-height: 5em;
    padding-right: 8px;
    border-right: 2px solid black;
}


.header p {
    font-size: large;
    transition: transform 0.1s cubic-bezier(0.19, 1, 0.22, 1), font-weight 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header p:hover {
    transform: translateY(-4px);
    font-weight: bold;
}

.link-button {
    min-width: 4em;
    min-height: 28px;

    background-color: #AA767C;
    color: #EDD4B2;
    border: 1px solid black;
    box-shadow: 1px 2px black;
    border-radius: 12px;
    font-size: 20px;

    transition: background-color 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link-button:hover{
    background-color: #242424;
    color: #fff;
    font-weight: bold;
    transform: translateY(2px);
}

.shopping-cart {
    background-image: url("static/shopping-cart.svg");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}

.wishlist-icon {
    background-image: url("static/wishlist.svg");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}

.account-icon {
    background-image: url("static/account.svg");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}

.search-icon {
    background-image: url("static/search.svg");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}

/* Landing page CSS */

.landing-page {
    height: 90vh;
    width: 100vw;
    padding: 10px;

    display: flex;
}

.left-landing {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-frame {
    background-color: #EDD4B2;  
    height: 70%;
    min-width: 30rem;
    border: 4px solid white;    
    border-radius: 5px;
}

.right-landing {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.right-landing h2{
    max-width: 20em;
}

.right-landing button {
    width: 5em;
    height: 40px;
    font-family: 'Abril Fatface', serif;
    font-size: 24px;
    background-color: #AA767C;
    color: #EDD4B2;
    border-radius: 3px;
    border: 1px solid black;
}