@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Red+Hat+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: #EDD4B2;
}

/* Header CSS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-bottom:#AA767C 3px solid;
    padding: 5px;
    width: 100vw;
    flex-wrap: wrap;
    place-content: center;
}

.left-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-width: 8em;

    background-color: #AA767C;
    color: #EDD4B2;
    border: 1px solid black;
    box-shadow: 1px 2px black;
    border-radius: 12px;
    font-size: 18px;

    transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.left-nav:hover {
    /* background-color: #242424; */
    font-weight: bold;
    transform: translateY(-2px);
}
.left-nav img {
    border-left: 1px solid black;
    padding-left: 8px;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 8em;
}

.logo {
    display: flex;
    margin-inline: 10%;
    gap: 5px;
    place-items: center;
}

.logo h1 {
    font-family: 'Abril Fatface', serif;
    transform: translateY(-2px);
}

.car-icon img{
    max-width: 5em;
    max-height: 5em;
    padding-right: 8px;
    border-right: 2px solid black;
}

.catalogue-button {
    min-width: 4em;
    min-height: 28px;

    background-color: #AA767C;
    color: #EDD4B2;
    border: 0;
    /* border: 1px solid black; */
    /* box-shadow: 1px 2px black; */
    /* border-radius: 12px; */
    font-size: 18px;

    /* transition: background-color 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

/* .catalogue-button:hover{
    background-color: #242424;
    font-weight: bold;
    transform: translateY(-2px);
} */

.header-icon {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    transition: transform 0.1s cubic-bezier(0.3, 0.44, 0.81, 1.28);
}
.header-icon:hover {
    transform: translateY(-2px);
}

/* Landing page CSS */

.landing-page {
    height: 70vh;
    width: 100vw;
    margin-top: 3em;
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.left-landing {
    height: 100%;
    width: 35%;
    min-width: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-frame {
    background-color: #EDD4B2;  
    height: 100%;
    width: 100%;
    min-width: 20rem;
    border: 3px solid white;    

    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(10, 0.1fr);
    grid-template-columns: repeat(10, 0.1fr);

}

.right-landing {
    height: 100%;
    width: 35%;
    min-width: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.right-landing h2{
    max-width: 20em;
}

.right-landing button {
    width: 5em;
    height: 40px;
    font-family: 'Abril Fatface', serif;
    font-size: 24px;
    background-color: #AA767C;
    color: #EDD4B2;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 2px 3px black;

    transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.right-landing button:hover {
    background-color: black;
    box-shadow: none;
    transform: translate(2px, 3px);
}

.landing-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s cubic-bezier(0.3, 0.44, 0.81, 1.28);
}

.landing-img:hover {
    transform: scale(2);
}

.photo1 {
    grid-area: 1 / 1 / 4 / 4;
    z-index: 2;
    border: 2px solid white;
    border-radius: 3px;
}

.photo2 {
    grid-area: 2 / 3 / 5 / 6;
    z-index: 3;
    border: 2px solid white;
    border-radius: 3px;
}

.photo3 {
    grid-area: 4 / 1 / 8 / 6;
    z-index: 1;
    border: 2px solid white;
    border-radius: 3px;
}

.photo4 {
    grid-area: 6 / 1 / 9 / 4;
    z-index: 4;
    border: 2px solid white;
    border-radius: 3px;
}

.photo5 {
    grid-area: 8 / 2 / 11 / 5;
    border: 2px solid white;
    border-radius: 3px;
}

.photo6 {
    grid-area: 1 / 5 / 5 / 8;
    border: 2px solid white;
    border-radius: 3px;
}

.photo7 {
    grid-area: 6 / 5 / 11 / 9;
    border: 2px solid white;
    border-radius: 3px;
}

.photo8 {
    grid-area: 2 / 8 / 6 / 11;
    border: 2px solid white;
    border-radius: 3px;
}

.photo9 {
    grid-area: 7 / 8 / 11 / 11;
    border: 2px solid white;
    border-radius: 3px;
}

.photo10 {
    grid-area: 4 / 7 / 8 / 10;
    border: 2px solid white;
    border-radius: 3px;
}
