@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Red+Hat+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: #EDD4B2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-bottom:#AA767C 3px solid;
    padding: 5px;
    width: 100vw;
    flex-wrap: wrap;
    place-content: center;
}

.left-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-width: 10em;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 7em;
}

.logo {
    display: flex;
    margin-inline: 10%;
    gap: 5px;
    place-items: center;
}

.logo h1 {
    font-family: 'Abril Fatface', serif;
    transform: translateY(-2px);
}

.car-icon img{
    max-width: 5em;
    max-height: 5em;
    padding-right: 8px;
    border-right: 2px solid black;
}

.link-button {
    min-width: 4em;
    min-height: 28px;

    background-color: #AA767C;
    color: #EDD4B2;
    border: 1px solid black;
    box-shadow: 1px 2px black;
    border-radius: 12px;
    font-size: 20px;

    transition: background-color 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link-button:hover{
    background-color: #242424;
    font-weight: bold;
    transform: translateY(-2px);
}

.header-icon {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    transition: transform 0.1s cubic-bezier(0.3, 0.44, 0.81, 1.28);
}
.header-icon:hover {
    transform: translateY(-2px);
}